<footer class="footer">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
        <div class="footer-credit">
            © {{ "now" | date: "%Y" }} Chenxi RUAN · HKUST(GZ) ·
            <a href="mailto:{{ site.data.profile.email | encode_email }}">{{ site.data.profile.email | replace: "@", "(at)" }}</a>
        </div>
    </div>
</footer>
