{% for year in include.years %}
    <h3 class="{% if include.embedded %}publication-year h5 p-3 mb-0{% else %}h4 pt-4{% endif %}" id="year-{{ year.name }}">{{ year.name }}</h3>
    <div class="{% if include.embedded %}p-0{% else %}my-0 p-0 bg-white shadow-sm rounded-sm{% endif %}">
        {% for item in year.items %}
            {% include widgets/publication_item.html item=item hide_bottom_border=forloop.last first=forloop.first last=forloop.last %}
        {% endfor %}
    </div>
{% endfor %}
